.header {
  font-family: var(--font-family);
  background-color: var(--blue);
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: .930125rem;
  display: flex;
  margin-bottom: 16px;

}

.navbar-brand {
  font-size: 1.32875rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
}