* {
    margin: 0;
    padding: 0;
    font: georgia;
}

body {
    height: 100vh;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

img {
    height: 30px;
}