body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

section {
  border: 1px solid;
  width: 800px;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-color: #E27680;
  overflow-y: auto;
}

.header {
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.header button {
  color: white;
  font-size: 15px;
}

.lists {
  margin: 10px 20px;
  justify-content: space-around;
  align-items: center;
}

.listBox {
  height: 55px;
  background-color: #B4DBE5;
  margin: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.listBox input {
  margin-right: 10px;
  margin-left: 20px;
}

.listBox button:last-child {
  margin-right: 20px;
  margin-left: 10px;
}


.todoInput {
  width: 200px;
  height: 20px;
}